.App {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.logo {
  border: 8px;
  padding: 8px;
  width: 100px;
  border-radius: 30%;
}

.card {
  padding: 5px;
  width: 120px;
  min-height: 223px;
  border-radius: 15px;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.cardBottom {
  padding: 5px;
  justify-content: space-around;
}

.textData {
  justify-content: center;
}

.campaignTitle {
  font-weight: bold;
  font-size: 20px;
}

.payPerInstall {
  color: #009330;
  font-size: 20px;
}

.scroll {
  overflow: auto;
  white-space: nowrap;
}

.borderForTop {
  border-top: 0.5px solid grey;
  border-bottom: 0.5px solid grey;
}

.btn {
  border: 0.5px solid grey;
  border-radius: 5px;
}

.imageWithOverlay {
  position: relative;
}

.imageWithOverlay img {
  display: block;
}

.imageWithOverlay .playBtn {
  position: absolute;
  bottom: 40%;
  left: 35%;
}
